<div class="user-box dropdown">
    <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="<%= base_url %>/multimedia/user/<%= user.user.image %>" class="user-img" alt="user avatar">
        <div class="user-info ps-3">
            <p class="user-name mb-0"><%= user.user.name %></p>
            <p class="designattion mb-0"><%= user.role.active.group_name %></p>
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="<%= user.my.profile ? user.my.profile.pa_url_pattern : "" %>" <%= user.my.profile ? "" : "hidden" %>>
                <i class="bx bx-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li><a class="dropdown-item" href="javascript:;" hidden><i class="bx bx-cog"></i><span>Settings</span></a></li>
        <li><a class="dropdown-item" href="javascript:;" hidden><i class='bx bx-home-circle'></i><span>Dashboard</span></a></li>
        <li><a class="dropdown-item" href="javascript:;" hidden><i class='bx bx-dollar-circle'></i><span>Earnings</span></a></li>
        <li><a class="dropdown-item" href="javascript:;" hidden><i class='bx bx-download'></i><span>Downloads</span></a></li>
        <li>
            <div class="dropdown-divider mb-0"></div>
        </li>
        <li>
            <a class="dropdown-item" href="<%= user.my.logout ? user.my.logout.pa_url_pattern : "" %>" <%= user.my.logout ? "" : "hidden" %>>
                <i class='bx bx-log-out-circle'></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>