<div class="top-menu ms-auto">
    <ul class="navbar-nav align-items-center">
        <li class="nav-item mobile-search-icon" hidden>
            <a class="nav-link" href=""><i class='bx bx-search'></i></a>
        </li>
        <li class="nav-item dropdown dropdown-large">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class='bx bx-category'></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <div class="row row-cols-3 g-3 p-3">
                    <% let prefix = "" %>
                    <% prefix = user.role.group.find(x => x.id == 1) ? user.role.group.find(x => x.id == 1).prefix : ""; %>
                    <div class="col text-center" onclick="systemList('<%= prefix %>')" <%= user.role.group.find(x => x.id == 1) ? "" : "hidden" %>>
                        <div class="app-box mx-auto bg-gradient-burning text-white"><i class='bx bx-atom'></i></div>
                        <div class="app-title">Administrator</div>
                    </div>
                    <% prefix = user.role.group.find(x => x.id == 2) ? user.role.group.find(x => x.id == 2).prefix : ""; %>
                    <div class="col text-center" onclick="systemList('<%= prefix %>')" <%= user.role.group.find(x => x.id == 2) ? "" : "hidden" %>>
                        <div class="app-box mx-auto bg-gradient-cosmic text-white"><i class='bx bx-group'></i></div>
                        <div class="app-title">Admin</div>
                    </div>
                    <% prefix = user.role.group.find(x => x.id == 3) ? user.role.group.find(x => x.id == 3).prefix : ""; %>
                    <div class="col text-center" onclick="systemList('<%= prefix %>')" <%= user.role.group.find(x => x.id == 3) ? "" : "hidden" %>>
                        <div class="app-box mx-auto bg-gradient-lush text-white"><i class='bx bx-shield'></i></div>
                        <div class="app-title">Dashboard</div>
                    </div>
                    <% prefix = user.role.group.find(x => x.id == 4) ? user.role.group.find(x => x.id == 4).prefix : ""; %>
                    <div class="col text-center" onclick="systemList('<%= prefix %>')" <%= user.role.group.find(x => x.id == 4) ? "" : "hidden" %>>
                        <div class="app-box mx-auto bg-gradient-kyoto text-dark"><i class='bx bx-notification'></i></div>
                        <div class="app-title">API</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown dropdown-large" hidden>
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="alert-count">3</span>
                <i class='bx bx-bell'></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a href="javascript:;">
                    <div class="msg-header">
                        <p class="msg-header-title">Notifications</p>
                        <p class="msg-header-clear ms-auto">Marks all as read</p>
                    </div>
                </a>
                <div class="header-notifications-list">
                    <a class="dropdown-item" href="javascript:;">
                        <div class="d-flex align-items-center">
                            <div class="notify bg-light-primary text-primary"><i class="bx bx-group"></i></div>
                            <div class="flex-grow-1">
                                <h6 class="msg-name">New Customers<span class="msg-time float-end">14 Sec ago</span></h6>
                                <p class="msg-info">5 new user registered</p>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                        <div class="d-flex align-items-center">
                            <div class="notify bg-light-danger text-danger"><i class="bx bx-cart-alt"></i></div>
                            <div class="flex-grow-1">
                                <h6 class="msg-name">New Orders <span class="msg-time float-end">2 min ago</span></h6>
                                <p class="msg-info">You have recived new orders</p>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                        <div class="d-flex align-items-center">
                            <div class="notify bg-light-success text-success"><i class="bx bx-file"></i></div>
                            <div class="flex-grow-1">
                                <h6 class="msg-name">24 PDF File<span class="msg-time float-end">19 min ago</span></h6>
                                <p class="msg-info">The pdf files generated</p>
                            </div>
                        </div>
                    </a>
                </div>
                <a href="javascript:;">
                    <div class="text-center msg-footer">View All Notifications</div>
                </a>
            </div>
        </li>
        <li class="nav-item dropdown dropdown-large" hidden>
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="alert-count">3</span>
                <i class='bx bx-comment'></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a href="javascript:;">
                    <div class="msg-header">
                        <p class="msg-header-title">Messages</p>
                        <p class="msg-header-clear ms-auto">Marks all as read</p>
                    </div>
                </a>
                <div class="header-message-list">
                    <a class="dropdown-item" href="javascript:;">
                        <div class="d-flex align-items-center">
                            <div class="user-online">
                                <img src="<%= base_url_template %>/assets/images/avatars/avatar-1.png" class="msg-avatar" alt="user avatar">
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="msg-name">Daisy Anderson <span class="msg-time float-end">5 sec ago</span></h6>
                                <p class="msg-info">The standard chunk of lorem</p>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                        <div class="d-flex align-items-center">
                            <div class="user-online">
                                <img src="<%= base_url_template %>/assets/images/avatars/avatar-2.png" class="msg-avatar" alt="user avatar">
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="msg-name">Althea Cabardo <span class="msg-time float-end">14 sec ago</span></h6>
                                <p class="msg-info">Many desktop publishing packages</p>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="javascript:;">
                        <div class="d-flex align-items-center">
                            <div class="user-online">
                                <img src="<%= base_url_template %>/assets/images/avatars/avatar-3.png" class="msg-avatar" alt="user avatar">
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="msg-name">Oscar Garner <span class="msg-time float-end">8 min ago</span></h6>
                                <p class="msg-info">Various versions have evolved over</p>
                            </div>
                        </div>
                    </a>
                </div>
                <a href="javascript:;">
                    <div class="text-center msg-footer">View All Messages</div>
                </a>
            </div>
        </li>
    </ul>
</div>

<script>
    function systemList(id) {
        window.location = `${id}`;
    }
</script>